.nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.466);
    padding: 0 2rem;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;

}

.nav__item {
    margin-left: 1.4rem;
}


.nav__link {
    color: #000;
    text-decoration: none;
    
}